<div id="<%= dom_id blog_post %>">
  <h2>
    <%= link_to blog_post.title, blog_post %>
  </h2>

  <p>
    <%= blog_post.body.html_safe %>
  </p>

  <p>
    <%= blog_post.created_at.strftime("%d/%m/%Y, às %H:%M:%S") %>
  </p>
</div>
