<h1>About us</h1>

<p>
  This is a simple blog application that I built using ruby on rails. It allows you to create, edit, and delete blog posts.
</p>

<%= link_to "See all posts", blog_posts_path%> | <%= link_to "Go home", root_path %>