<p style="color: green"><%= notice %></p>

<h1 class="p-5 bg-gray-50">Blog posts</h1>

<div id="blog_posts">
  <% @blog_posts.each do |blog_post| %>
    <%= render blog_post %>
  <hr class="my-5 m-0">
  <% end %>
</div>

<div class="p-10 bg-gray-50">
  <%= link_to "New post", new_blog_post_path %>
</div>
